@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #211A1E;
    color: #04724D;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h2, h3 {
  color: #80DED9;
}

li {
  margin-left: 23px;
  margin-right: 10px;
}

p {
  margin-left: 1px;
  margin-right: 1px;
  text-align: justify;
}

em {
  font-weight: bold;
}

a > em {
  color: #9BC53D;
}

.caption {
  font-size: 14px;
  font-weight: lighter;
}

.picture {
  width: 100%;
  padding-top: 10px;
}

/* Nav styling */

nav {
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #80DED9;
}

.menu {
  list-style-type: none;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding: 5px 10px 5px 10px ;
}


.item a:hover {
  color: #9BC53D;
}

/* Mobile first Nav */

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  margin-left: 0px;
  margin-right: 0px;
}

.menu li a {
  display: block;
  padding: 1px 1px;
}

.item {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 100%;
  text-align: center;
}

.menu .active {
  display: block;
  background-color: black;
}

/* Desktop Nav */

@media screen and (min-width: 900px) {
  .menu {
    text-align: center;
    width: 100%;
  }

  .item {
  display: inline;
  width: 19%;
  }

  .logo {
  width: 19%;
  }
}

/* index.html specific styling */

#hero-image {
  padding: 0;
  height: 300px;
  width: 100%;
  background: url(../images/hero-image.jpg) no-repeat center center;
  background-size: cover;
}

#signup-image {
  background-image: url(../images/light-bulb.png);
  height: 0px;
  width: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  visibility: hidden;
  position: relative;
  top: -25px;
}

#newsletter form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

#newsletter hr {
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  #signup-image {
    visibility: visible;
    height: 150px;
    width: 150px;
  }

  #newsletter {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  #newsletter form {
    display: inline-flex;
    flex-direction: row;
  }

}

/* shortcuts.html Specific Styling */

#shortcut-perform {
  width: 100%;
}

#shortcut-keys {
 width: 100%;
}

#shortcut-perform {
  width: 100%;
}

#shortcut-keys {
  width: 100%;
}

#security-image {
  width: 100%;
}

/* links.html Specific Styling */

.icon {
  max-width: 16px;
}

/* Footer */

footer {
  line-height: 25px;
  margin-top: 30px;
}

.footer li {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.footer li {
  list-style-type: none;
}

.foot p {
  color: #80DED9;
}

@media screen and (min-width: 900px) {
  
  body {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  footer {
    line-height: 50px;
    margin-top: 25px;
  }

  .footer > ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/* 404 Error Page */

#error-image {
  padding: 0;
  height: 200px;
  max-width: 100%;
  background: url(../images/error.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

#error-image :hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  #error-image {
    min-height: 400px;
  }
}