@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 120px;
}

h2, h3 {
  color: #04724D;
  font-family: 'Inter', sans-serif;
  padding-left: 7.5vw;
}

@media screen and (min-width: 900px) {
  h2, h3 {
    padding-left: 20vw;
  }
  
}

li {
  margin-left: 23px;
  margin-right: 10px;
}

p {
  margin-left: 1px;
  margin-right: 1px;
  text-align: justify;
}

em {
  font-weight: bold;
}

a > em {
  color: #405c00;
}

/* Header */

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-right: 60px;
  line-height: 60px;
  font-size: 0.80rem;
  background: #211A1E;
  width: 100vw;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

@media screen and (min-width: 900px) {
  header {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
  }
}

a {
  text-decoration: none;
  color: #80DED9;
}

.menu {
  list-style-type: none;
  color: #80DED9;
}


/* Menu Styling */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #211A1E;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Change lines to an X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #211A1E;
  border-radius: 50%;
  width: 150vw;
  height: 150vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #80DED9;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li.active {
  color: #9BC53D;
  text-decoration: underline;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Page content Positioning */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > p {
  text-align: justify;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.content > ul {
  padding-top: 5px;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  text-align: justify;
}

@media screen and (min-width: 900px) {
  .content {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

/* Styling page content */

.content > div > p {
  text-align: justify;
  padding-left: 0vw;
  padding-right: 0vw;
}

.content > div > form {
  text-align: justify;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

/* Image styling */

.picture {
  z-index: 1;
  width: 80%;
  object-fit: cover;
  border: 1px solid black;
}

.picture-frame {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .picture {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    border: none;
  }
}

.caption {
  font-size: 14px;
  text-align: center;
}

/* Responsive Images */

.desktop-image{
  display:block;
 }

.mobile-image{
 display:none;
}

@media (max-width: 1000px) and (min-width: 320px){
 .desktop-image{
  display:none;
 }

 .mobile-image{
  display:block;
 }
}

/* Video Player Styling */

.video {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-right: 15vw;
  padding-top:40%;
}

.video-frame {
  position: absolute;
  z-index: 1;
  padding-left: 6vw;
  padding-right: 6vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* index.html specific styling */

#hero-main {
position: relative;
z-index: -1;
left: 0;
padding: 0;
}

#hero-image {
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-image.webp) no-repeat center center;
  background-size: cover;
}

#cover-text {
  font-size: 125%;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 235px;
  height: 180px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(99, 143, 0, .7);
  position: absolute;
  right: 25px;
  bottom: 25px;
}

#cover-text > h2 {
  padding-left: 0;
  bottom: 35px;
  color: white;
}

#cover-text > h3 {
  padding-left: 0;
  bottom: 35px;
  color: white;
}

#lightbulb {
  display: flex;
  height: 0px;
  width: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  visibility: hidden;
  position: relative;
  right: 0;
}

#form-box {
  padding: 5px 30px;
  border: 1px black;
  border-style: solid;
  background-color: #211A1E;
  color: #88c500;
}

.newsletter form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.newsletter hr {
  visibility: hidden;
}

#submit {
  height: 48px;
}

#email {
  height: 48px;
}

#name {
  height: 48px;
}

@media screen and (min-width: 768px) {
  #lightbulb {
    visibility: visible;
    height: 235px;
    width: 139px;
  }

  #newsletter {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  #newsletter form {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .signup-form {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }

}

/* links.html Specific Styling */

.icon {
  max-width: 16px;
}

/* Footer */

footer {
  line-height: 25px;
  margin-top: 30px;
  z-index: 2;
  background-color: #211A1E;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer li {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.footer li {
  list-style-type: none;
}

.foot p {
  color: #88c500;
}

@media screen and (min-width: 680px) {
  
  footer {
    line-height: 50px;
    margin-top: 25px;
  }

  .footer > ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/* 404 Error Page */

#error-image {
  padding: 0;
  height: 200px;
  max-width: 100%;
  background: url(../images/error.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

#error-image :hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  #error-image {
    min-height: 400px;
  }
}