@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #211A1E;
    color: #04724D;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

h2 {
  color: #80DED9;
}

/* Nav styling */

nav {
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #80DED9;
}

.menu {
  list-style-type: none;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding: 5px 10px 5px 10px ;
}

.item {
  padding: 10px;
}

.item a:hover {
  color: #9BC53D;
}

/* Mobile Nav */

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 1px 1px;
}

.item {
  width: 100%;
  text-align: center;
}

.logo {
  width: 100%;
  text-align: center;
}

.active .item {
  display: block;
}

/* Desktop Nav */

@media screen and (min-width: 900px) {
  .menu {
    text-align: center;
    width: 100%;
  }

  .item {
  display: inline;
  width: 19%;
  }

  .logo {
  width: 19%;
  }
}

/* Index hero image */

#hero-image {
  padding: 0;
  height: 300px;
  width: 100%;
  background: url(../images/hero-image.jpg) no-repeat center center;
}

/* Footer */

footer {
  color: #80DED9;
}